<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagador</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="contenedor-principal">

        <p id="instruccion">Presiona el numero 1 para encender el foco</p>
        <div class="contenedor-foco">
            <img id="foco" src="/img/FocoApagado0.png" alt="">
        </div>

    </div>

    <script src="/static/js/apagador.js"></script>

</body>
</html>